<div class="game-controls">
<img src="/assets/controls.jpg">
<ul>
  <li class="game-controls">Game grid outlines the cube to build</li>
  <li class="game-controls">Tap on small rotating soma body to add it to the grid</li>
  <li class="game-controls">Use oscillating color coded arrows to move bodies along grid lines of the same color </li>
  <li class="game-controls">Use rotating color coded arrows to rotate bodies around directions of grid lines of the same color </li>
  <li class="game-controls">Tap the current body panel (to the right of arrows) to choose a body to adjust</li>
  <li class="game-controls">Tap the big rotating letter "R" to start a new game</li>
</ul>
</div>
