<p>
Use these 7 soma bodies
<div class="soma-bodies">
<img src="/assets/body1.png">
<img src="/assets/body2.png">
<img src="/assets/body3.png">
<img src="/assets/body4.png">
<img src="/assets/body5.png">
<img src="/assets/body6.png">
<img src="/assets/body7.png">
</deiv>
</p>

<p>
to assemble a 3x3x3 cube
</p>
<p>
<img src="/assets/cube_example.png">
</p>

<p>
There are 230 essentially different ways to do this!
</p>
